{% extends 'layout.twig' %}

{% block title %}
Home
{% endblock %}


{% block content %} 

<section id="home">
    <h1> You don't know what to do? Let us help find an idea ! </h1>
    <p> WhatToDo is a website that will help you choose a random movie, show, game or music to play, you can select which on want, or simply pick at random between everthing.</p>
    <p class="p-main"><a href="index.php?p=movie">Let's watch a movie !</a></p>
    <div class="container-poster container-movie">
        {% for movie in movies %}
            <div class="poster">
                <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"></img>
                <p>{{movie.title}}</p>
                <a href="index.php?p=movie_poster&id={{movie.id}}" class="more">See more >></a>
            </div>
        {% endfor %}
    </div>
    <p class="p-main"><a href="index.php?p=show">Or maybe a show? </i></a></p>
    <div class="container-poster container-show">
        {% for show in shows %}
            <div class="poster">
                <img src="https://image.tmdb.org/t/p/w500/{{show.poster_path}}"></img>
                <p>{{show.name}}</p>
                <a href="index.php?p=show_poster&id={{show.id}}" class="more">See more >></a>
            </div>
        {% endfor %}
    </div>
    <p class="p-main"><a href="index.php?p=game">Looking for a game to play ...</a></p>
    <div class="container-poster container-game">
        {% for game in games %}
            <div class="poster">
                <img src="{{game.background_image}}"></img>
                <p>{{game.name}}</p>
                <a href="index.php?p=game_poster&id={{game.id}}" class="more">See more >></a>
            </div>
        {% endfor %}
    </div>
    <p class="p-main"><a href="index.php?p=book">... Or even read a book !</a></p>
    <div class="container-poster container-book">
    </div>

{% endblock %}

{% block scripts %}
<script src="scripts/home.js"></script>
{% endblock %}
