{% extends 'layout.twig' %}
{% import 'favorite-form.twig' as form %}
{% block title %}
Home
{% endblock %}


{% block content %} 

<section id="TV">
    <div class="title">
        <h1> What To Do </h1>
        <h2> Let us choose for you.</h2>
        <p> Want to play a game? Maybe watch a trending movie, or you could also pick at random a movie, a show or a game.
        To add something to your favorite, you need to register an account. Once connected you will find your favorites on your account page.</p>
    </div>
    <h3><i class="fas fa-fire"></i> Top movies of the week</h3>
    <div class="container-poster container-movie">
        {% for movie in movies %}
            <div class="poster">
                {% if connection_status %}{{form.fav('movies', movie.id, favMovies)}}{% endif %}
                <a href="index.php?p=movie&id={{movie.id}}" class="more">
                     <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="movie img">
                 </a>
                <p>{{movie.title}}</p>
            </div>
        {% endfor %}
    </div>
    <a href="index.php?p=movie" class="btn-random">Pick me a movie</a>
    <h3 ><i class="fas fa-fire"></i> Top TV Show of the week</h3>
    <div class="container-poster container-show">
        {% for show in shows %}       
            <div class="poster">
                {% if connection_status %}{{form.fav('shows', show.id, favShows)}}{% endif %}
                <a href="index.php?p=show&id={{show.id}}" class="more">
                    <img src="https://image.tmdb.org/t/p/w500/{{show.poster_path}}" alt="show img">
                </a>
                <p>{{show.name}}</p>
            </div>
        {% endfor %}
    </div>
    <a href="index.php?p=show" class="btn-random">Pick me a TV Show</a>
</section>
 <section id="recommandation">
     <h3><i class="fas fa-fire"></i> Recommandation of the week</h3>
    {% for post in posts %} {{post.content|raw}} {% endfor %}
 </section>
<section id = "game">
    <h3><i class="fas fa-fire"></i> Top rated games of all time <i class="fas fa-chevron-down"></i></h3>
    <div class="container-game">
        {% for game in games %}
            <div class="poster-game">
                {% if connection_status %}{{form.fav('games', game.id, favGames)}}{% endif %}
                <a href="index.php?p=game&id={{game.id}}" class="more">
                    <img src="{{game.background_image}}" alt="game img">
                </a>
                <p>{{game.name}}</p>
            </div>
        {% endfor %}
    </div>
    <a href="index.php?p=game" class="btn-random">Pick me a game</a>
</section>
<section id="twitch">
    <h3><i class="fas fa-fire"></i> Top Twitch Channels online</h3>
    <p>Finally, you can just chill on <a target ="_blank" href="https://www.twitch.tv" class="link">Twitch <i class="fas fa-external-link-alt"></i> </a>. Here are the top streamers live right know</p>
    <div class="twitch-videos">
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="scripts/home.js"></script>
{% endblock %}
