{% extends 'layout.twig' %}

{% block title %}
Home
{% endblock %}


{% block content %} 

<section id="home">
    <h1> You don't know what to do? Let us help find an idea ! </h1>
    <h2><a href="index.php?p=movie">Trending Movies <i class="fas fa-arrow-right"></i></a></h2>
    <div class="container-poster container-movie">
        {% for movie in movies %}
            <div class="poster">
                <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"></img>
                <p>{{movie.title}}</p>
            </div>
        {% endfor %}
    </div>
    <h2><a href="index.php?p=show">Trending Shows <i class="fas fa-arrow-right"></i></a></h2>
    <div class="container-poster container-show">
        {% for show in shows %}
            <div class="poster">
                <img src="https://image.tmdb.org/t/p/w500/{{show.poster_path}}"></img>
                <p>{{show.name}}</p>
            </div>
        {% endfor %}
    </div>
    <h2><a href="index.php?p=game">Trending games <i class="fas fa-arrow-right"></i></a></h2>
    <div class="container-poster container-game">
        {% for game in games %}
            <div class="poster">
                <img src="{{game.background_image}}"></img>
                <p>{{game.name}}</p>
            </div>
        {% endfor %}
    </div>
    <h2><a href="index.php?p=music">Trending musics <i class="fas fa-arrow-right"></i></a></h2>
    <div class="container-poster container-music">
    </div>

{% endblock %}

{% block scripts %}
<script src="scripts/home.js"></script>
{% endblock %}
