{% extends 'layout.twig' %}

{% block title %}
{{movie.title}}
{% endblock %}


{% block content %}
<section class="random">
<div class="bigPoster">
    <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"></img>
    <h2>{{movie.title}}</h2>
    <p>Game rating : {{movie.vote_average}}/10 <i class="fas fa-star"></i></p>
    <p>Release date {{movie.released_date|date("m/d/Y")}}</p>
</div>
<a href="index.php?p=movie_poster" class="btn-random">Dont feel like watching this? Try again !</a>
</section>
{% endblock %}

{% block scripts %}

{% endblock %}