{% extends 'layout.twig' %}
{% import 'favorite-form.twig' as form%}

{% block title %}
    {{movie.title}}
{% endblock %}


{% block content %}

<section id="info">
    <h1> Here is a Movie to watch !</h1>
    <p>Don't like it? <a class="link" href="index.php?p=movie">Try another one !</a></p>
    <h2>{{movie.title}}</h2>
    <div class="poster-xl">
        {% if connection_status %}{{form.fav('movies', movie.id, favMovies)}}{% endif %}
        <div class="info">
            <div>
                <p>Movie Rating : {{movie.vote_average}}/10 <i class="fas fa-star"></i></p>
                <p>Release date: {{movie.release_date | date('d M Y')}}</p>
            </div>
            <p class="overview">Overview :</p>
            <p>{{movie.overview}}</p>
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="movie img">
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
{% endblock %}