{% extends 'layout.twig' %}
{% import 'favorite-form.twig' as form%}

{% block title %}
    {{show.name}}
{% endblock %}


{% block content %}

<section id="info">
    <h1> Here is a TV Show to binge !</h1>
    <p>Don't like it? <a class="link" href="index.php?p=show">Try another one !</a></p>
    <h2>{{show.name}}</h2>
    <div class="poster-xl">
        {{form.fav('shows', show.id, favShows)}}
        <div class="info">
            <div>
                <p>Show Rating : {{show.vote_average}}/10 <i class="fas fa-star"></i></p>
                <p>Release date: {{show.first_air_date | date('d M Y')}}</p>
            </div>
            <img src="https://image.tmdb.org/t/p/w500/{{show.poster_path}}"></img>
            <p class="overview">Overview :</p>
            <p>{{show.overview}}</p>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}

{% endblock %}